{
  "presets": ["react", "env", 'flow'],
  "plugins": [["transform-object-rest-spread", {
    "helpers": false,
    "polyfill": true,
    "regenerator": true,
    "moduleNaem": "babel-runtime"
  }], "ramda", "transform-runtime"]
}
