{
    "extends": [
      "plugin:flowtype/recommended",
      "prettier",
      "prettier/flowtype",
      "prettier/react"
    ],
    "parserOptions": {
      "parser": "babel-eslint",
      "sourceType": "module",
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "jsx": true
      }
    },
    "env": {
        "browser": true,
        "es6": true,
    },
    "plugins": [
      "flowtype",
      "react",
      "prettier",
      "import"
    ],
    "rules": {
        "arrow-body-style": "error",
        "arrow-spacing": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": "error",
        "template-curly-spacing": "error",
        "prettier/prettier": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "import/no-duplicates": "error"
    }
}
