<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="https://blog.himanoa.net/">
    <meta property="og:title" content="しまリン">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shimar.in">
    <meta property="og:site_name" content="しまリン">
    <meta property="og:description" content="しまりんかわいい">
    <meta property="og:locale" content="ja_JP">
    <meta name="viewport" content="initial-scale=1">
    <title>志摩リン</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
